@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

body {
    font-family: 'Lato', sans-serif;
    padding-left: 50px;
    /* padding-top: 20px; */
    /* margin: 0 auto; */
}

.title {
    width: 600px;
}

.legend {
    width: 300px;
}

.dropdown {
    transform: translateX(35%) translateY(-255%);
}

.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}

.dropdown dt a {
    /* #4F6877 */
    background-color: #af6558; 
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown dt a span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #af6558;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown-translated {
    transform: translateX(75%) translateY(-400%);
    display: none;
    
}

.dropdown-translated dd,
.dropdown-translated dt {
    margin: 0px;
    padding: 0px;
}

.dropdown-translated ul {
    margin: -1px 0 0 0;
}

.dropdown-translated dd {
    position: relative;
}

.dropdown-translated a {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}

.dropdown-translated dt a {
    background-color: #736f4c; 
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown-translated dt a span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown-translated dd ul {
    background-color: #736f4c;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown-translated span.value {
    display: none;
}

.dropdown-translated dd ul li a {
    padding: 5px;
    display: block;
}

/* button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
} */