@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin:auto;
    display: block;
    width: 50%;
    text-align: center;
}

text {
    font-size: 14px;
    color: #9e9e9e;
}

.title {
    text-align: center;
    font-size: 1.7em;
}

.yAxis path {
    stroke-width: 0;
}

.yAxis line, .xAxis line, .xAxis path {
    stroke: #9e9e9e;
}